* {
  outline: 0 transparent;
}

html, body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-weight: 500;
  }

  p {
    line-height: 1.6;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h5 {
    text-overflow: ellipsis;
    max-height: 32px;
    color: #666;
    font-weight: 600;
    line-height: 1.6;
    -webkit-line-clamp: 2;
  }

  label {
    line-height: 1.6;
  }

  strong {
    font-weight: 600;
  }

  li {
    list-style: none;
  }

  a {
    color: #666;
    transition: 0.2s all;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: #f45411;
      text-decoration: none;
    }
  }
}

.color-orange {
  color: #f45411;
}

.siteContent {
  @include largePhonesAndBelow {
    padding-top: 80px;
  }
}

header .fas {
  @include largePhonesAndBelow {
    font-size: 18px;
  }
}