.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  &-pointer-events {
    touch-action: pan-y;
  }
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    max-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: auto;
    @include largePhonesAndBelow{
      width: unset;
      height: unset;
    }
    @include tabletsPortraitLargePhonesLandscape{
      width: 70%;
      height: auto;
    }
    @include tabletsAndBelow{
      width: 80%;
      height: auto;
    }
  }
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px,0,0);
}