.nssHeader {
  @include tabletsPortraitLargePhonesLandscape {
    height: 20%;
    .nssPrimaryNav {
      .nssLogo {
        top: 0;

        img {
          width: 40%;
        }
      }
    }
  }

  @include largePhonesAndBelow {
    position: fixed;
    .nssTopBar {
      display: none;
    }
    .nssPrimaryNav {
      .nssLogo {
        top: 4px;

        img {
          width: 45%;
        }
      }

      .nssSearch {
        width: 80%;
        padding: 0;
      }
    }
  }
  @include smallestPhones {
    .nssPrimaryNav {
      .nssLogo {
        //top: 0;
        img {
          width: 90%;
        }
      }

      .nssNavIcons {
        .fas {
          font-size: 14px;
        }
      }
    }
  }

  .nssPrimaryNav {

    @include tabletsAndBelow {
      width: 80%;
      justify-content: space-between;
      .searchField {
        width: 65%;
      }
    }

    .nssSearchSlider {
      @include smallestPhones {
        width: 90%;
      }

    }

    .nssCartMobile {
      margin-right: 20px;
      position: relative;
    }

    .nssMegaMenuMobileToggle {
      margin-left: 20px;
      margin-right: 10px;
      font-weight: 600;
    }
  }

}

.fa-search {
  @include largePhonesAndBelow {
    margin-right: 20px;
    margin-left: 0;
  }
}

.nssSearchSlider {
  min-width: 100%;
  display: none;
  @include tabletsPortraitLargePhonesLandscape {
    display: none;
    min-width: 100%;
    background-color: white;
    .gf-search-form {
      display: block;
      padding: 10px 10px;

      .search-field {
        width: 100%;
        color: #1d1d1d;
        background: #f6f6f6;
        text-align: left;
        border-radius: 15px;
        border: 2px solid #e2e2e2;
        padding: 13px 14px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.nssSearchSlider {
  display: block;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.nssMobileUserMenu {
  height: 0;
  position: absolute;
  box-shadow: 3px 0 13px #1d1d1d;
  top: 50px;
  background-color: #fff;
  width: 60%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1000;
}

.gf-radio-search-wrapper-mobile {
  display: flex;
  justify-content: space-evenly;
  color: #333;
  padding-left: 10px;
}

.fancy-header-icons{
  color: #f45411;
  box-shadow: 0px 0px 10px 1px #f45411;
  border-radius: 50px;
  padding: 5px;
  transition: all 0.3s;
}

.show { //show nss mobile user menu
  padding: 20px;
  border-top: solid 2px #f45411;
  border-bottom: solid 2px #f45411;
}

.nssMobileUserLink {
  a {
    display: block;
    padding: 10px;
  }
}