.nssSidebar {
  width: 25%;
  box-shadow: 4px 0 6px rgba(13, 13, 13, 0.1);
  img{
    width: 100%;
    height: auto;
  }
  h2 {
    text-align: center;
  }

  .nssAccordionHead {
    background: #fff;
    padding: 25px 10px 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .nssAccordionTitle {
      color: #f45411;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .nssAccordionHead:hover {
    cursor: pointer;
  }
}

.gf-category-accordion__subitem {
  display: block;
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  border-bottom: none;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 1, 1);
  transition: all 0.3s cubic-bezier(0, 0, 1, 1);
  overflow: hidden;
}

.gf-category-accordion__item--last {
  display: block;
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  border-bottom: none;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 1, 1);
  transition: all 0.3s cubic-bezier(0, 0, 1, 1);
  z-index: 9999;
  overflow: hidden;
}

.mega-menu {
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  padding: 2rem;
  border: none;
  border-radius: 0;
  position: absolute;
  min-width: 550px;
  width: 750px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  transition-delay: 0.3s;
  z-index: 999;

  .sub-category-title {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  .sub-sub-category-title {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
  }

  .sub-menu {
    a {
      &.menu-item {
        color: #4f4f4f !important;

        &:hover {
          color: #f45411 !important;
        }
      }

      &.sub-menu-item {
        color: #4f4f4f !important;

        &:hover {
          color: #f45411 !important;
        }
      }
    }
  }

  .mega-menu__row {
    min-width: 100%;
  }

  a {
    &.menu-item {
      padding: 0 0 0.5rem 0;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &.sub-menu-item {
      padding: 0 0 0 0;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}

.sub-menu {
  width: 25%;
}

.container {
  margin-right: auto;
  width: 80% !important;
  padding-left: 0 !important;
}